@import "src/assets/styles/valiables";

.m-device-menu {
  width: 100vw;
  height: 100vh;
  background: $colorBlack;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;

  .m-menu-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 rgba($colorYellow, 0.9);
    align-items: center;

    .cm {
      font-weight: 500;
      letter-spacing: 0.9px;
      font-size: 25px;
      text-transform: uppercase;
      color: $colorYellow;
      animation: mymove 2000ms linear infinite;
    }

    img{
      width: 35px
    }

    .close {
      font-size: 32px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 75px 15px;
    font-size: 24px;

    .m-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 22px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 38px;
      color: $colorWhite;

      &.selected {
        color: $colorYellow;
      }

    }
  }
}