@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2g8uih');
  src:  url('fonts/icomoon.eot?2g8uih#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2g8uih') format('truetype'),
    url('fonts/icomoon.woff?2g8uih') format('woff'),
    url('fonts/icomoon.svg?2g8uih#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e917";
}
.icon-keyboard_arrow_left:before {
  content: "\e918";
}
.icon-icon-close:before {
  content: "\e90d";
}
.icon-right-arrow:before {
  content: "\e90e";
}
.icon-chevron-down-solid:before {
  content: "\e90c";
}
.icon-check-solid:before {
  content: "\e90b";
}
.icon-whatsapp:before {
  content: "\e905";
}
.icon-viber:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-calculator:before {
  content: "\e902";
}
.icon-telegram:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-cell:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e916";
}
.icon-delete:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e914";
}
.icon-calendar:before {
  content: "\e911";
}
.icon-settings:before {
  content: "\e912";
}
.icon-meter:before {
  content: "\e913";
}
.icon-arrow-right:before {
  content: "\e910";
}
.icon-email:before {
  content: "\e90f";
}
