@import "src/assets/styles/valiables";

.content {
  font-family: $generalFontFamily;
  width: 100%;
  flex: 1;
  margin-top: 122px;
  grid-area: content;
  //min-height: 348px;
}


@media only screen and (min-width: 320px) and (max-width: 995px) {
  .content {
    margin-top: 171px;
    grid-area: content;
  }
}
