@import url("//fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800&subset=latin,latin-ext");
@import "src/assets/styles/valiables";


html, body {
  width: 100%;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: initial;
  background: 0 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
        "header"
        "content"
        "footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
}

